.bg-gray-900{
    background-image: url(`https://images.unsplash.com/photo-1437750769465-301382cdf094?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1510&q=80`);
    background-size: 100%;
    background-repeat: no-repeat;}
.container-google-facebook{
    display: flex;
    flex-direction: row
}

