*,
*::before,
*::after {
    box-sizing: border-box;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.menu-container{
    width: 100vw;
    height: 15vh;
    top: 0;
    display: flex;
    justify-items: center;
}

.image-container{
    border-radius: 5px;
    position: relative;
}
.image{
    width: 25vw;
    height: 15vh;
    background-size: cover;
    background-position: center;
    opacity: 0.35;
}

/*Header classes*/

.image-text:hover{
    cursor: pointer;
    opacity: 1;
    font-size: 4vw;
    transition: all 500ms;
}

.link {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
}

a:link {
    text-decoration: none;
}

.image-text{
    font-size: 3vw;
    color: white;
    text-align: center;
    font-weight: bold;
    opacity: 0.5;
}

section {
    top: 20vh;
    width: 100vw;
    height: 70vh
}

.quote-container {
    font-family: Helvetica, sans-serif;
    color: black;
    padding: 1em;
    width: 80vw;
    margin: 0 auto 0 auto;
    text-align: center;
}

.quote-container {
    display: flex;
    justify-content: right;
}

.words {
    background: 50% 100% / 50% 50% no-repeat radial-gradient(ellipse at bottom, black, transparent, transparent);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 2.5vw;
    padding: 3vw;
    width: 60vw;
    text-align: right;
    font-family: "Source Sans Pro", sans-serif;
    animation: reveal 3000ms ease-in-out forwards 200ms,
    glow 2500ms linear 2000ms;
}

@keyframes reveal {
    80%{
        letter-spacing: 8px;
    }
    100% {
        background-size: 300% 300%;
    }
}
@keyframes glow {
    40% {
        text-shadow: 0 0 8px #fff;
    }
}

footer {
    height: 15vh;
    padding: 20px;
    display: flex;
    align-items: center;
}

.button-footer {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-family: "Source Sans Pro", sans-serif;;
    font-size: 2rem
}

.button-footer:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}


.button-footer:active {
    color: #000
}

.button-footer:active:after {
    background: transparent;
}

.button-footer:hover:before {
    opacity: 1;
}

.button-footer:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.joke-container {
    font-family: "Source Sans Pro", sans-serif;;
    color: #fff;
    padding: 1em;
    width: 80vw;
    margin: 0 auto 0 auto;
    text-align: center;
}

.joke {
    font-family: "Source Sans Pro", sans-serif;;
    width: 100%;
    font-size: 3vh;
    animation: animateOverlay 5s ease-in-out forwards;
}