.col-sm-9 {
    height: 100vh;
    opacity: 0.6;
}

.dairy-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    row-gap: 20px;
}

.button-container{
    margin-top: 1rem;
    display: flex;
    gap: 10px;
}

.date-element{
    background-color: white;
}

.text-diary{
    height: 35vh;
    width: 50vw;
    border-radius: 25px;
    font-family: 'Delicious Handrawn', cursive;
    font-size: 1.5em;
    opacity: 0.6;
    padding: 20px;
}

.text-diary ::placeholder{
    font-family: 'Delicious Handrawn', cursive;
    font-size: 2em;
    color: white;
    padding: 1rem;
}