.col-sm-9 {
    height: 100vh;
    opacity: 0.6;
}

.dairy-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    row-gap: 20px;
}

.button-container{
    margin-top: 1rem;
    display: flex;
    gap: 10px;
}

.date-element{
    background-color: white;
}

.text-diary{
    height: 35vh;
    width: 50vw;
    border-radius: 25px;
    font-family: 'Delicious Handrawn', cursive;
    font-size: 1.5em;
    opacity: 0.6;
    padding: 20px;
}

.text-diary ::placeholder{
    font-family: 'Delicious Handrawn', cursive;
    font-size: 2em;
    color: white;
    padding: 1rem;
}

.diaryUpdating {
   --b: 5px;
   --s: .45em;
   --color: grey;

   padding: calc(.5em + var(--s)) calc(.9em + var(--s));
   color: var(--color);
   --_p: var(--s);
   background:
           conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
           var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
   transition: .3s linear, color 0s, background-color 0s;
   outline: var(--b) solid #0000;
   outline-offset: .6em;
   font-size: 22px;

   border: 0;
   user-select: none;
   -webkit-user-select: none;
   touch-action: manipulation;
    font-weight: 900;
    background-color: white;
    opacity: 0.8;
}

.diaryUpdating:hover,
.diaryUpdating:focus-visible{
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
    --color: #303030;
}

.diaryUpdating:active {
    background: var(--color);
    color: #fff;
}