.nav-link {
    color: #C0C0C0;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link  {
    background-color: #C0C0C0;
    color: white;
}

.nav-link:hover {
    color: #696969;

}

.dairy-container {
    height: 100vh;
}