.gif-container .gif{
    z-index: 99999;
    bottom:1rem;
    position: fixed;
    right: 1rem;
    width:250px;
    height:250px;
}

.gif-container{
    display: flex;
    justify-content: flex-end;
}

.bottle{
    width: 5rem;
    margin: 1.5rem
}

.bottle-container{
    display: flex;
    justify-content: center;
}

.container-gif-bottle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem
}

@media only screen and (max-width: 600px) {
    .gif-container .gif{
        width:250px;
        height:250px;
        bottom:4rem;
        right:1rem
    }
}